<div class="content">
    <div class="emoji">
        <img src="img/paddle.svg" alt="Paddle Emoji">
    </div>
    <button ng-click="startGame()" ng-hide="active" class="btn btn--inactive" ng-class="active ? 'btn--active' : ''">Start Game</button>
    <button ng-click="endGame()" ng-show="active" class="btn btn--active" ng-class="active ? '' : 'btn--inactive'">End Game</button>
    <p class="about">Join the Slack channel <strong>#pingpong</strong> to get live updates of whether or not the table is available.</p>
</div>
